/* fonts by FontFabric */



@font-face {
    font-family: 'trackregular';
    src: url('track-webfont.eot');
    src: url('track-webfont.eot?#iefix') format('embedded-opentype'),
         url('track-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'trackitalic';
    src: url('trackitalic-webfont.eot');
    src: url('trackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('trackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'staticregular';
    src: url('static-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'static_bold';
    src: url('static_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'static_italic';
    src: url('static_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
