.footer-container{
  padding-bottom: 10vh;
}

.footer-item-plain {
  color: white;
  text-align: center;
  letter-spacing: .4em;
  margin: 1em;
  padding-bottom: .1em;
  font-size: .9em;
}

.footer-item, .footer-item:visited {
  @extend .footer-item-plain;
  border-bottom: .13em solid #fff;
  transition: all 0.1s ease-out 0s;
}

.footer-item:hover {
  $c1: darken($colorfulcolor, 20);
  color: $c1;
  border-bottom: .13em solid $c1;
}
