.mantra-container {
  margin-top: 2em;
  letter-spacing: 0.7em;
}

.mantra-container > p{
  margin-bottom: 1.4em;
}

.intro-container {
  font-size: $prettybig;
}

.intro-container > p {
    margin-bottom: .8em;
}
