.showcase-container {
  background-color: white;
  color: black;
}

.showcase-tag {

}

.showcase-title {
  font-size: $prettybig;
}

.showcase-description {
  font-family: "MaisonNeue-Book";
}

.showcase-linkcontainer {

}

.showcase-link {

}
