html {
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
  background-color: #eee;
}

.view {
  height: 100vh;
  display: table;
  width: 100%;
}

.mid {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

h1 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 38px;
}

p {
  font-family: 'Montserrat';
}

p.lead {
  padding: 17px 0 3px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;$
  text-transform: uppercase;
}

p.description{
  padding: 10px 0 3px;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.block {
  background-color: #000;
  height: 13px;
  width: 70px;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
}

a {
  padding: 5px;
  color: #000;
  text-decoration: none;
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon {
  width: 2.8rem;
  height: 2.8rem;
  margin: 0 .2rem;
  justify-content: center;
  position: relative;


}

.icon a {
  line-height: 2.8rem;
  padding: 0;
  z-index: 2;
  position: absolute;
  width: 2.8rem;
  height: 2.8rem;
  top: 0;
  right: 0;
}

.icon:hover>.background {
    /* in */
    transform: scale(1);
    -webkit-transition: all 0.4s cubic-bezier(.2,1,.3,1);
    -moz-transition: all 0.4s cubic-bezier(.2,1,.3,1);
    -o-transition: all 0.4s cubic-bezier(.2,1,.3,1);
    transition: all 0.4s cubic-bezier(.2,1,.3,1);

}

.background {
  width: 2.8rem;
  height: 2.8rem;
  z-index: 1;

  /* circle background */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;

  box-sizing: border-box;

  /* out */
  transform: scale(0);
  -webkit-transition: all 0.4s cubic-bezier(.5,1,.8,1);
  -moz-transition: all 0.4s cubic-bezier(.5,1,.8,1);
  -o-transition: all 0.4s cubic-bezier(.5,1,.8,1);
  transition: all 0.4s cubic-bezier(.5,1,.8,1);
}

/* icon colors */
.email { background-color: #c3c3c3 }
.github { background-color: #b0d5f0 }
.lastfm { background-color: #ec9a96}
.tumblr { background-color: #9aa2ae }
.blocks { background-color: #a5c3db }
