html {
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

.view {
  height: 100vh;
  display: table;
  width: 100%;
  background-color: #eee;
}

.mid {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

h1 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 38px;
}

p {
  font-family: 'Montserrat';
  text-transform: uppercase;
}

p.lead {
  padding: 17px 0 3px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;
}

p.description{
  padding: 10px 0 3px;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.7px;
}

.block {
  background-color: #000;
  height: 13px;
  width: 70px;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
}

a {
  padding: 5px;
  color: #000;
  text-decoration: none;
}
